.home-container {
    padding:         3rem;
    display:         flex;
    flex-wrap:       wrap;
    justify-content: center;
}

.content-header {
    font-weight:   bolder;
    font-size:     30px;
    margin-bottom: 3rem;
}

.description {
    font-size:  24px;
    text-align: justify;
}
